<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css')}}"></link>

    {% block headcontent %}
    {% endblock headcontent %}

    {% block title %}
		<title>despacito2 for the nintendo switch</title>
	{% endblock title %}
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DreidelGameCoin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>

    <main>
      <div class="container">
        {% block bodycontent %}
        {% endblock bodycontent %}
      </div>
      {% block scripts %}
      {% endblock scripts %}
    </main>

</body>
</html>
