{% extends "base.html" %}

{% block headcontent %}
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game_style.css')}}"></link>-->

    <style>
	    .screen {
	    	position: absolute;
	    	top: 0px;
	    	left: 0px;
	    	width: 100vw;
	    	height: 100vh;
	    	background-color: #bdbdbd;
	    }

	    .spins {
	    	position: absolute;
	    	top: 0px;
	    	left: 0px;
	    	width: 100vw;
	    	height: 70vh;
	    }

	    p {
			position: absolute;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%)
		}

		h1 {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 100%);
		}
	</style>	
{% endblock headcontent %}

{% block title %}
	<title>shekel.io</title>
{% endblock title %}

{% block bodycontent %}
	<div class="screen">
	</div>
	<div class="spins valign-wrapper">
	<p>
		<img src="{{ url_for('static', filename='img/nun.gif') }}"/>
		<img src="{{ url_for('static', filename='img/shin.gif') }}"/>
		<img src="{{ url_for('static', filename='img/gimel.gif') }}"/>
		<img src="{{ url_for('static', filename='img/shin.gif') }}"/>
		<img src="{{ url_for('static', filename='img/hei.gif') }}"/>
		<img src="{{ url_for('static', filename='img/nun.gif') }}"/>
		<img src="{{ url_for('static', filename='img/shin.gif') }}"/>
	</p>
	<h1> Determining winner... </h1>
	</div>
{% endblock bodycontent %}